.degree-main h3 {
  color: dodgerblue;
}
.degree-main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.degree-main section .card {
  width: 21rem;
  margin: 8px;
}
.degree-main section .card .btn {
  background-color: dodgerblue;
  color: white;
}
.degree-main section .card .btn:hover {
  background-color: #0d6efd;
}